body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
.page {
	background: #DFE2D2;
	height: 100vh;
	display: grid;
	grid-template-rows: 10% 90%;
}

.header-wrapper {
	width: 100%;
}

.header {
	height: 100%;
	background: #1c222b;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.header-title {
	color: #6cbf84;
	letter-spacing: 1px;
	position: relative;
	font-weight: 100;
	margin: 0;
	padding: 0;
	top: 50%;
	transform: translateY(-50%);
	display: inline-block;
	line-height: 22px;
	height: 31px;
}

.content {
	width: 100%;
	height: 100%;
	grid-template-columns: 2fr 6fr 2fr;
	display: grid;
}

.left-sidebar {
	background: #202731;
	border-right: 1px solid rgb(57, 70, 78);
;;
}

.right-sidebar {
	background: #202731;
	border-left: 1px solid rgb(57, 70, 78);
;;
}

.center-content {
	background: #202731;
	display: grid;
	grid-template-rows: 6fr 2fr;
}

.typing-passage-wrapper {
	padding: 20px;
	border-bottom: 1px solid rgb(57, 70, 78);
}

.typing-text-wrapper {
	padding: 20px;
}

#user-typing-text-area {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    resize: none;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 20px;
}

#passage-text-area {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    resize: none;
    background: transparent;
    color: #bfbfbf;
    border: none;
    outline: none;
    font-size: 22px;
}
