body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
.page {
	background: #DFE2D2;
	height: 100vh;
	min-height: 10vh;
	display: grid;
	grid-template-rows: 1fr 6fr 3fr;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-areas: 
		"header header header"
		"left-sidebar content-upper right-sidebar"
		"left-sidebar content-lower right-sidebar"
}

.header-wrapper {
	width: 100%;
	grid-area: header;

}

.header {
	height: 100%;
	background: #1c222b;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.header-title {
	color: #6cbf84;
	letter-spacing: 1px;
	position: relative;
	font-weight: 100;
	margin: 0;
	padding: 0;
	top: 50%;
	transform: translateY(-50%);
	display: inline-block;
	line-height: 22px;
	height: 31px;
}

.left-sidebar {
	background: #202731;
	border-right: 1px solid rgb(57, 70, 78);
	grid-area: left-sidebar;
}

.right-sidebar {
	background: #202731;
	border-left: 1px solid rgb(57, 70, 78);
	grid-area: right-sidebar;
	display: grid;
	grid-template-rows: repeat(6, 1fr);
}

.typing-passage-wrapper {
	padding: 20px;
	background: #202731;
	border-bottom: 1px solid rgb(57, 70, 78);
	grid-area: content-upper;
	overflow: scroll;
}

.typing-text-wrapper {
	padding: 20px;
	background: #202731;
	grid-area: content-lower;
}

#user-typing-text-area {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    resize: none;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 20px;
}

#passage-text-area {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    resize: none;
    background: transparent;
    color: #bfbfbf;
    border: none;
    outline: none;
    font-size: 22px;
}

.right-sidebar > div {
	/* border-bottom: 1px solid rgb(57, 70, 78); */
	padding: 20px;
	
}

.right-sidebar > div .perf-indicator-counter {
	font-size: 45px;
	line-height: 45px;
}

.right-sidebar > div .perf-indicator-unit {
	font-size: 14px;
	margin-top: 5px;
}

.right-sidebar > div span {
	color: #bfbfbf;
	display: block;
	text-align: center;
}

.wpm-container {

}

.wpm-container span {
	color: #bfbfbf;
	display: block;
	text-align: center;
}

.countdown-container {

}
.countdown-container #minutes, .countdown-container #seconds,
.countdown-container #clock-colin {
	display: inline;
}

.accuracy-percentage-container {
}

.lpm-container {
}